*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-size: 14px;
	background-color: #f2f2f2;
	background: url('https://img.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg');
	background-size: cover;
}

.container
{
	background-color: white;
	width: 500px;
	padding: 25px;
	margin: 50px auto 0;
	border-top:5px solid red;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.container h2
{
	font: 24px;
	line-height: 24px;
	padding-bottom: 30px;
	text-align: center;
}

.input-name
{
	width: 90%;
	position: relative;
	margin: 20px auto;
}

.lock
{
	padding: 7px 11px;
}

.name
{
	width: 45%;
	padding: 8px 0 8px 40px;
}

.input-name span
{
	margin-left: 35px;
}

.text-name
{
	width: 100%;
	padding: 8px 0 8px 40px;;
}

.input-name i
{
	position: absolute;
	font-size: 18px;
	color: red;
	border-right: 1px solid #cccccc;
}

.email
{
	padding: 7px 8.5px;
}

.gg
{
	padding: 7px 11px;
}

.idk
{
	padding: 7px 11.5px;
}

.text-name, .name
{
	border: 1px solid #cccccc;
	outline: none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

.text-name:hover, .name:hover
{
	background-color: #F4F6F6;
}

.text-name:focus, .name:focus
{
	border: 1px solid red;
}

.radio-button
{
	margin-right: 4px;
}

.country
{
	display: inline-block;
	width: 100%;
	height: 35px;
	padding: 0 15px;
	cursor: pointer;
	border: 1px solid #cccccc;
	color: #7b7b7b;
	border-radius: 0;
	background-color: white;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: all 0.2s ease;
}

.country::ms-expand
{
	display: none;
}

.country:hover, country:focus
{
	color: red;
	background-color: #F4F6F6;
	border-color: red;
	outline: none;
}

.button
{
	background-color: red;
	color: white;
	height: 35px;
	line-height: 35px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 17px;
	cursor: pointer;
	margin-bottom: 10px;
}

.country:hover, .country:focus
{
	color: red;
	background: #fafafa;
	outline: none;
}

.arrow
{
	position: absolute;
	top:calc(50% - 4px);
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: #7b7b7b transparent transparent transparent;
}

.country:hover +.arrow, .country:focus +.arrow
{
	border-top-color: red;
}

.button:hover
{
	background-color: green;
}

@media (max-width: 480px)
{
	.container
	{
		width: 100%;
		padding: 5px;
	}
	.input-name
	{
		margin-bottom: -10px;
	}
	.name
	{
		width: 100%;
		padding: 8px 0 8px 40px;
		margin-bottom: 7px;
	}
	.input-name span
	{
		padding: 0;
		margin: 0;
}
